In [42]:
import pandas as pd

In [43]:
# Read in EVERY COLUMN as a string
# df = pd.read_csv("Medical_Examiner_Case_Archive.csv", dtype=str)
# The ZIP code columns are now strings
df = pd.read_csv("Medical_Examiner_Case_Archive.csv", dtype={
    'Incident Zip Code': str,
    'Residence Zip': str
}) 
df.head()

,Case Number,Date of Incident,Date of Death,Age,Gender,Race,Latino,Manner of Death,Primary Cause,Primary Cause Line A,...,Incident Zip Code,longitude,latitude,location,Residence City,Residence Zip,OBJECTID,Chicago Ward,Chicago Community Area,COVID Related
0,ME2015-02039,NaN,05/18/2015 11:30:00 AM,NaN,Male,NaN,False,NATURAL,UNDETERMINED NATURAL CAUSES,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,60,NaN,NaN,False
1,ME2015-04003,NaN,NaN,NaN,NaN,NaN,False,NaN,NONHUMAN REMAINS,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,121,NaN,NaN,False
2,ME2018-02893,03/01/2018 12:00:00 AM,NaN,NaN,NaN,NaN,False,NaN,NO DEATH CERTIFICATE ISSUED,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,155,NaN,NaN,False
3,ME2015-00307,01/21/2015 01:17:00 AM,01/21/2015 02:35:00 AM,82.0,Male,White,False,NATURAL,HYPERTENSIVE ARTERIOSCLEROTIC CARDIOVASCULAR D...,NaN,...,NaN,NaN,NaN,NaN,Elk Grove Village,60007,248,NaN,NaN,False
4,ME2014-01996,12/20/2014 04:42:00 PM,12/20/2014 06:53:00 PM,43.0,Female,Black,False,ACCIDENT,HEROIN TOXICITY,NaN,...,NaN,NaN,NaN,NaN,Bolingbrook,60440,311,NaN,NaN,False

In [44]:
df.columns = df.columns.str.lower().str.replace(' ', '_')

In [45]:
df.gender.value_counts(normalize=True, dropna=False)

Male       0.687206
Female     0.308729
NaN        0.003577
Unknown    0.000488
Name: gender, dtype: float64

In [46]:
# This is "doing your summary too early"
df.groupby(by='gender').age.median()

gender
Female     65.0
Male       56.0
Unknown     0.0
Name: age, dtype: float64

In [47]:
# Display all columns
pd.set_option("display.max_columns", None)

In [48]:
# What is the most common manner of death?
df.manner_of_death.value_counts()

NATURAL         34874
ACCIDENT        20252
HOMICIDE         6516
SUICIDE          3705
UNDETERMINED     1124
PENDING           704
Name: manner_of_death, dtype: int64

In [49]:
# Two columns, both categories
# see how they relate
pd.crosstab(df.manner_of_death, df.gender)

gender           Female   Male  Unknown
manner_of_death
ACCIDENT           5921  14326        0
HOMICIDE            770   5745        0
NATURAL           12695  22169        1
PENDING             179    517        2
SUICIDE             857   2848        0
UNDETERMINED        371    736        3

In [50]:
df.columns

Index(['case_number', 'date_of_incident', 'date_of_death', 'age', 'gender',
       'race', 'latino', 'manner_of_death', 'primary_cause',
       'primary_cause_line_a', 'primary_cause_line_b', 'primary_cause_line_c',
       'secondary_cause', 'gun_related', 'opioid_related', 'cold_related',
       'heat_related', 'commissioner_district', 'incident_address',
       'incident_city', 'incident_zip_code', 'longitude', 'latitude',
       'location', 'residence_city', 'residence_zip', 'objectid',
       'chicago_ward', 'chicago_community_area', 'covid_related'],
      dtype='object')

In [71]:
pd.crosstab(df.race, df.manner_of_death).value_counts().to_frame()

                                                        0
ACCIDENT HOMICIDE NATURAL PENDING SUICIDE UNDETERMINED
20       3        30      0       1       1             1
38       2        180     6       4       10            1
227      51       546     7       40      22            1
340      27       975     10      166     20            1
7778     5076     13062   341     612     588           1
11816    1349     19990   331     2880    460           1

AttributeError: 'StringMethods' object has no attribute 'value_counts'

In [73]:
df.primary_cause_line_a.value_counts().head(20)

NOVEL CORONA (COVID-19) VIRAL INFECTION    5917
PNEUMONIA                                  2385
FALL                                       1885
NOVEL CORONA (COVID-19) VIRUS INFECTION    1873
MOTOR VEHICLE COLLISION                     703
HANGING                                     427
MOTOR VEHICLE STRIKING PEDESTRIAN           390
FALL FROM HEIGHT                            249
FALL DOWN STAIRS                            230
MOTOR VEHICLE STRIKING FIXED OBJECT         223
MOTOR VEHICLE CRASH                         215
UNWITNESSED FALL                            190
NOVEL CORONA (COVID-19) VIRAL PNEUMONIA     179
ASSAULT                                     171
HYPERTENSIVE CARDIOVASCULAR DISEASE         170
PROBABLE FALL                               167
HOUSE FIRE                                  152
PEDESTRIAN STRUCK BY MOTOR VEHICLE          147
TRAIN STRIKING PEDESTRIAN                   146
CHOKING ON FOOD BOLUS                       140
Name: primary_cause_line_a, dtype: int64

In [76]:
# Date extract: parens around what you want.
# numbers are \d, for example (\d\d) means "match any two numbers".
# You're trying to find "anchor points" = things that don't change,
# and then replace the things that change.
df.manner_of_death.date_of_death.str.extract("((\d\d)/\d\d/\d\d\d\d")

AttributeError: 'Series' object has no attribute 'date_of_death'

In [ ]:
# Number 1 rule of data cleaning: If you don't like something, just replace it with an empty string.