In [5]:
!ls

Intro to Pandas.ipynb
Last FM API (with pandas).ipynb
Last FM API (with pandas, completed).ipynb
continent_facts.csv
countries.csv
encoding

In [6]:
!pip install --upgrade pandas

Requirement already satisfied: pandas in /Users/bean/.pyenv/versions/3.10.3/lib/python3.10/site-packages (1.4.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/bean/.pyenv/versions/3.10.3/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/bean/.pyenv/versions/3.10.3/lib/python3.10/site-packages (from pandas) (2022.1)
Requirement already satisfied: numpy>=1.21.0 in /Users/bean/.pyenv/versions/3.10.3/lib/python3.10/site-packages (from pandas) (1.22.4)
Requirement already satisfied: six>=1.5 in /Users/bean/.pyenv/versions/3.10.3/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [7]:
import pandas as pd

In [4]:
df = pd.read_csv("countries.csv")

In [13]:
df.sort_values(by='population', ascending=False).head(7)

           country   continent  life_expectancy  population             gdp
34           China        Asia           72.124  1269116737   4323880722959
75           India        Asia           62.129  1053898107   1736824080336
178  United States  N. America           76.800   282496310  11231488292980
76       Indonesia        Asia           67.289   213395411    579155145454
22          Brazil  S. America           70.261   174425387   1405170917672
137         Russia        Asia           65.380   146757517   1257711920690
127       Pakistan        Asia           63.854   144522192    301473292512

In [15]:
df['population']

0      22856302
1       3071856
2      30533827
3      13926373
4         77656
         ...
183    78758010
184     3198560
185    17723186
186    10201562
187    12509477
Name: population, Length: 188, dtype: int64

In [16]:
df.population.mean()

32526821.05319149

In [17]:
round(df.population.mean())

32526821

In [18]:
df.population.describe

<bound method NDFrame.describe of 0      22856302
1       3071856
2      30533827
3      13926373
4         77656
         ...
183    78758010
184     3198560
185    17723186
186    10201562
187    12509477
Name: population, Length: 188, dtype: int64>

In [26]:
pd.set_option("display.float_format", '{:,.2f}'.format)
pd.set_option("display.integer_format", '{:,2f}'.format)
df.population.describe()

OptionError: No such keys(s): 'display.integer_format'

In [28]:
df.style.format(thousands=',')
df.groupby(by='continent').population.sum()

continent
Africa         809892820
Asia          3849172861
Europe         596440013
N. America     481999240
Oceania         30272328
S. America     347265096
Name: population, dtype: int64

In [22]:
df.groupby(by='continent').population.mean()

continent
Africa       14,998,015.19
Asia         80,191,101.27
Europe       14,200,952.69
N. America   21,909,056.36
Oceania       3,027,232.80
S. America   28,938,758.00
Name: population, dtype: float64

In [27]:
!pip install matplotlib

Requirement already satisfied: matplotlib in /Users/bean/.pyenv/versions/3.10.3/lib/python3.10/site-packages (3.5.2)
Requirement already satisfied: pillow>=6.2.0 in /Users/bean/.pyenv/versions/3.10.3/lib/python3.10/site-packages (from matplotlib) (9.1.1)
Requirement already satisfied: python-dateutil>=2.7 in /Users/bean/.pyenv/versions/3.10.3/lib/python3.10/site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /Users/bean/.pyenv/versions/3.10.3/lib/python3.10/site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: numpy>=1.17 in /Users/bean/.pyenv/versions/3.10.3/lib/python3.10/site-packages (from matplotlib) (1.22.4)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/bean/.pyenv/versions/3.10.3/lib/python3.10/site-packages (from matplotlib) (1.4.2)
Requirement already satisfied: pyparsing>=2.2.1 in /Users/bean/.pyenv/versions/3.10.3/lib/python3.10/site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: packaging>=20.0 in /Users/bean/.pyenv/versions/3.10.3/lib/python3.10/site-packages (from matplotlib) (21.3)
Requirement already satisfied: fonttools>=4.22.0 in /Users/bean/.pyenv/versions/3.10.3/lib/python3.10/site-packages (from matplotlib) (4.33.3)
Requirement already satisfied: six>=1.5 in /Users/bean/.pyenv/versions/3.10.3/lib/python3.10/site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)